header {
    text-align: center;
    background-color: #52796F;
}

nav {
    text-align: center;
    background-color: #2F3E46;
}
nav ul li {
    list-style-type: none;
    display: inline;
}
nav ul li::before {
    content: '#10025';
}
nav ul li:first-child::before {
    content: none;
}
nav ul li a {
    color: #84A98C;
    text-decoration: none;
}
nav ul li a:hover {
    color: #CAD2C5;
}
nav ul li a:visited {
    color: #84A98C;
    text-decoration: none;
}

main {
    background-color: #CAD2C5;
    color: #2F3E46;
}

footer {
    font-size: x-small;
    background-color: #CAD2C5;
    color: #52796F;
    display: inline;
}